---
import Header from "../components/header/Header.astro";
import "../style/index.css";
import Main from "../components/main/main.astro";
import Footer from "../components/footer/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Francisco Meza Dastres
      Desarrollador Full Stack con experiencia en JavaScript, PHP, React, y PostgreSQL. Con más de 1 año de experiencia en la creación de aplicaciones web escalables y optimizadas, 
      combinando funcionalidad y diseño atractivo. Especializado en la implementación de soluciones responsivas y el uso de metodologías ágiles (SCRUM) para la gestión eficiente de proyectos."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://francisco.meza.dastres.vercel.app/" />
    <meta property="og:site_name" content="Francisco Meza " />
    <meta property="og:title" content="Francisco Meza  Portafolio" />
    <meta />

    <script
      src="https://kit.fontawesome.com/2898a0ac51.js"
      crossorigin="anonymous"></script>
    <title>Portafolio | Francisco Meza Dastres</title>
  </head>
  <body>
    <Header />
    <Main />
    <Footer />
  </body>
</html>
